* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.container >div, 
    .container .header, 
    .container .footer,
    .container .sidebar,
    .container .content{
    background-color: white;
    padding: 20px;
    border-radius: 4px;

}

.container .header{
    background-color: #12203e;
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
}

.container .content{
    grid-column: span 2;
}