* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:    "header header header"
                            "content content sidebar"
                            "widget-1 widget-2 sidebar"
                            "footer footer footer";
}

.container >div, 
    .container .header, 
    .container .footer,
    .container .sidebar,
    .container .content{
    background-color: white;
    padding: 20px;
    border-radius: 4px;

}

.container .header{
    background-color: #12203e;
    color: white;
    grid-area: header;
    
}

.container .content{
    grid-area: content;    
}

.container .sidebar{
    grid-column: 3 / 4;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;    
}

.container .widget-1,
.container .widget-2{
    background-color: violet;
    color: black;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .widget-1{
   grid-area: widget-1; 
}

.container .widget-2{
    grid-area: widget-2;
}

.container .footer{
    background-color: turquoise;
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}

@media only screen and (max-width: 768px) {
   .container{
       grid-template-areas:    "header header header"
       "content content content"
       "sidebar sidebar sidebar"
       "widget-1 widget-1 widget-2"
       "footer footer footer";
    }
}
    
  